* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración general del body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Codigo animación */
canvas {
  display: block;
}


/* Codigo botton */
.dropdown-container {
    position: relative;
    text-align: center;
    padding: 10px;
     border-radius: 5%;
    border: 0.5px inset rgb(239, 235, 235);
    padding: 8px;
    margin: 12px;
    width: 120px;
    justify-content: center;
    display: flex;
}
.dropdown-container:hover {
    background-color: #1976f8;;
}
.dropdown-button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.arrow {
    font-size: 12px;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.show {
    display: block;
}


/* Fin codigo botton */

header {
    background-color: #1f6902;
    padding: 12px;
    /* justify-content: space-between;
    justify-content: center; */
}
h4 {
font-family: "Playwrite PE";
font-optical-sizing: auto;
font-size: 12px;
}

.infraestructura{
    color: #ffff;
    display: inline-block;
    vertical-align: middle;
    width: 95%;
    text-align: right;
}


header .logo {
    height: 40px; /* Ajusta el tamaño del logo según sea necesario */
    display: inline-block;
    vertical-align: middle;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.title-section {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px -12px -12px -12px;
}
.title-section h1:hover{
    color: #ffa33a;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    background-color: #0055cc;
    padding: 20px;
    border: 1px solid black;
}
.nav-buttons .boton{
    border-radius: 5%;
    border: 0.5px inset rgb(239, 235, 235);
    padding: 8px;
    margin: 12px;
    width: 120px;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav-buttons .boton:hover{
    background-color: #1976f8
    }
.nav-buttons button {
    background: none;
    border: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.functions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.function-card {
    background-color: rgb(252, 208, 208);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1;
    max-width: 200px;
    text-decoration: none;
    color: inherit;
}

.function-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}



.icon {
    font-size: 40px;
}

footer {
    background-color: #003366;
    color: white;
    padding: 10px;
    margin-top: auto;}
footer p{
    display: inline-block;
   vertical-align: middle;
   text-align: center;
   width: 80%;
}
.par1{
    display: inline-block;
    width: 95%;
align-items: center;
   text-align: center;
   font-family: 'Architects Daughter', handwriting;
   font-size: 0.75rem;
}

/* Íconos footer */
.icons {
        bottom: 8px;
        display: inline-block;
        flex-direction: row;
        vertical-align: middle;
}
.icons .floating-icon{
    gap: 25px;
}

.floating-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.floating-icon img:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .infraestructura{
        color: #ffff;
        display: inline-block;
        vertical-align: middle;
        width: 85%;
        text-align: right;
        font-size: 15px;
    }
    .nav-buttons {
        flex-direction: column;
        align-items: center;
       
        
    }
.nav-buttons .boton{
    width: 90%; /*el ancho de la pantalla que ocupa*/
    padding: 7px;/*esta propiedad le da el margen interno a los botones, es el relleno */
    margin: 6px;/*Esta propiedad da la distancia entre un boton y otro*/
    
}
.dropdown-container {
        width: 90%;
        padding: 0px;/*esta propiedad le da el margen interno a los botones, es el relleno */
    margin: 6px;/*Esta propiedad da la distancia entre un boton y otro*/
    align-items: center;
    display: flex;

    
    }
    
    .dropdown-button {
        width: 58%;
        padding: 0px;
        font-size: 14px;
        display: inline;        
    }
    
    .dropdown-content {
        width: 90%;
       left: auto;
        transform: none;
}
     
    .arrow {
        font-size: 8px;
        display: inline;
       
        
    }
    
    .functions {
        flex-direction: column;
        align-items: center;
    }

    .function-card {
        max-width: 100%;
        width: 90%;
    }
.dropdown-button {
        width: 80%;
        
}
.dropdown-content {
        width: 90%;
        left: auto;
        transform: none;
        
    }
    .nav-buttons button {
        margin: 5px 0;
    }

    .functions {
        flex-direction: column;
        align-items: center;
    }

    .function-card {
        max-width: 100%;
        width: 90%;
    }
    footer {
        background-color: #003366;
        color: white;
        padding: 8px;
        margin-top: auto;}
    footer p{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 70%;
    }
    
    /* Íconos footer */
    .icons {
            bottom: 8px;
            display: inline-block;
            flex-direction: row;
            vertical-align: middle;
    }
    .floating-icon img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: transform 0.3s;
    }
}
