<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IPB Docentes Nivel Secundario</title>
        <link rel="shortcut icon" href="../assets/img/fav2.ico">
        <link rel="stylesheet" href="../assets/css/index.css">
        <link rel="stylesheet" href="../static/css/aviso.css">
        <link rel="stylesheet" href="../assets/css/fotos.css">
        <link rel="stylesheet" href="../assets/css/historia.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap" rel="stylesheet">
    </head>
<body>
    <header></header>
    <main>
        <p class="par">
            Nuestra Historia <br><br>
            El Padre Juan Vicente Brizuela, riojano por nacimiento, fue designado como Cura párroco y Vicario interino del Curato de San Javier, en el año 1851. Desde entonces fue un infatigable trabajador en nuestra región transerrana.
Brizuela fue uno de los principales protagonista de la fundación de la actual Villa Dolores. A él se debió la elección del Paso del León para erigir la población, como así también la confección del plano respectivo. Él fue quien animó a iniciar la empresa fundadora y un 26 de mayo de 1856 colocó la piedra fundamental en la capilla que luego sería el templo de nuestra Basílica. <br>
El 8 de diciembre de 1858, al inaugurar la primitiva capilla, instaló la imagen de la Virgen de los Dolores, que había traído de Catuna, La Rioja. Mirando sus obras podemos decir que fue una persona de profundo compromiso por el bien de los demás, con la mirada siempre puesta en el evangelio. Alguien que lucho incansablemente por la construcción del Reino, que no se dejó amedrentar por los obstáculos. Un hombre de Dios que edificó su comunidad, en la misión que le fue encomendada. <br><br>

Nuestro Instituto lleva su nombre porque el fundador, Padre Horacio Gómez Dávila, entendió que los alumnos que aquí se formaran debían seguir ese ejemplo: comprometidos con el evangelio y comprometidos con los demás. Alumnos que soñaran con la construcción del Reino y lucharan por él.
        </p>
<section >
<img class="imagen" src="../assets/img/brizuela.png" alt="Edificio original">
</section>
<section class="home"></section>
    </main>
    <footer></footer>
    <script src="../assets/js/aviso.js"></script>
    <script src="../assets/js/script_template.js"></script>
</body>
</html>